.step-mechanism-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Horizontally center the children */
  min-width: 800px;
  height: 100%;
}


.step-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  /* ... */
}

.current-step {
  width: 50px;
  text-align: center;
  /* ... */
}

.step-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34; /* Material-UI primary blue */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.step-button:disabled {
  background-color: #cccccc;
  cursor: default;
  box-shadow: none;
}

.step-button:hover:not(:disabled) {
  background-color: #282c34;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.step-button svg {
  font-size: 1rem; /* Adjust the icon size if needed */
}


.step-description {
  display: flex; /* Enables Flexbox */
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
  flex-direction: column; /* Stacks items vertically */
  text-align: center; /* Centers the text horizontally within each child element */

  background-color: #ffffff; /* White background for high contrast */
  color: #282c34; /* Dark text for readability */
  border: 1px solid #cccccc; /* Light grey border for definition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */

  font-size: calc(0.5rem + 2vmin);
  
  padding: 5px; /* Padding inside the box */
  margin-top: 10px; /* Margin above the box */
  border-radius: 8px; /* Rounded corners for a softer look */
  margin-bottom: 10px;
  
  width: 80vw; /* Width relative to the viewport width */
  height: 10vh; 

  line-height: 1.2; /* Line spacing for readability */
}

.visual-and-output-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Optional: add padding or margins as needed */
  height: 100%;
}

.DelegationVisuals, .ServerOutput {
  /* Add padding or margins for spacing if needed */
  background-color: #ffffff;
  height: 100%;
  width: 80vw;
}



